#point{
    position: absolute;
   /* height: 600px; */
   /* width:  80px; */
   left: 40%; 
   top: 270px;
   opacity: 0.6;
   }
 
/* section img1 */
 
#card2 a{
text-decoration: none;
text-align: center;
color: #000;
}   
  
    

#scrollUp{
 background-color:#8a8383;opacity:0.7;float:left;
 border-radius: 4px;
} 
 
#scrollUp:hover{
 opacity: 1;
 /* background-color: #fe0061; */
}
  
 img{
     border-radius: 4px;
 }
 a:hover{
     text-decoration:underline ; 
     color: #11045c;
 }
 
 
#img1{
width: 100%;
height: 350px;
}  
  #left{
 position: absolute; 
width:  80px; 
top: 150px;
opacity: 0.6;
} 
#rigth{
 position: absolute; 
width:  80px;
right: 0%;
top: 150px;
opacity: 0.6;
} 
#left:hover{
 opacity: 1;
 /* color: blue; */
}
#rigth:hover{
 opacity: 1; 
} 
 
.card-title{
 font-size: 2em;
 font-family: 'Times New Roman', Times, serif;
 padding-right: 5px;
}
 
 *{
     margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins',sans-serif;


 }
 
 a{
     text-decoration: none;
     color: black;
 }
 .card{
     width: 30%;
     height: 330px;
     background-color: white;
     min-width: 350px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: center;
 }
 .card img{
     height: 200px;
 }
 
   
 h5 { 
    margin : 40%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
    .card{
height: fit-content;
  }
 @media screen and (max-width : 700px) {
   
     .card{
         width: 100%;
     } 
     #card2{
         order: 0;
          width: 100%;
     } 
     #img1{
width: 100%;

 }
  
 }
 @media screen and (max-width: 500px) {
  
}
@media screen and (max-width: 900px) {
  
}
@media screen and (max-width:390px ){
     
}
